:root {
    --violet: hsl(257, 40%, 49%);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

h1,
#registerButton {
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 992px) {
    nav {
        margin-bottom: 100px;
    }
    
    h1 {
        max-width: 500px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: normal;
        text-transform: capitalize;
    }
    
    #huddleHeader {
        background: url("../img/bg-desktop.svg") no-repeat left center/contain, var(--violet);
        padding: 50px 80px 100px 80px;
    }
    
    #huddleHeader p {
        max-width: 520px;
        margin-top: 30px;
        font-size: 18px;
        line-height: 1.5;
    }
    
    #registerButton {
        display: inline-block;
        margin-top: 10px;
        padding: 15px 65px;
        border-radius: 30px;
        background-color: #FFFFFF;
        color: var(--violet);
        font-size: 18px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    
    #registerButton:hover {
        text-decoration: none;
        transform: scale(1.05);
        transition-delay: 0.1s;
    }
    
    #social {
        margin-right: -4rem;
    }
    
    #social i {
        margin-top: 2rem;
        margin-right: 30px;
        font-size: 30px;
        float: right;
    }
}

@media (max-width: 767.98px) {
    nav {
        margin-bottom: 45px;
    }
    
    #logo {
        margin-top: 20px;
        height: 35px;
        margin-left: -20px;
    }
    
    h1 {
        margin-top: 80px;
        font-size: 26px;
        font-weight: 700;
        text-transform: capitalize;
    }
    
    #huddleHeader {
        background: url("../img/bg-mobile.svg") no-repeat top/contain, var(--violet);
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }
    
    #huddleHeader p {
        margin-top: 30px;
        font-size: 16px;
        line-height: 1.5;
    }
    
    #registerButton {
        display: inline-block;
        margin-top: 10px;
        padding: 13px 75px;
        border-radius: 30px;
        background-color: #FFFFFF;
        color: var(--violet);
        font-size: 14px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    
    #registerButton:hover {
        text-decoration: none;
    }
    
    #social i {
        margin-top: 70px;
        font-size: 30px;
        margin-left: 15px;
    }
}